body {
    background-color: silver;
}

.navbar {
    border-radius: 0;
    border-width: 0;
    background-color: #303030;
}

.brand {
    color: white;
}

form {
    background-color: #707070;
}

.form-subheader-1 {
    background-color: #505050;
    border: solid #404040;
    border-width: 0 0 1px 0;
}

.form-subheader-2 {
    background-color: #505050;
    border: solid #404040;
    border-width: 1px 0 1px 0;
}

.subheader-text {
    color: silver;
    font-size: 20px;
}

.brand-change-color {
    will-change: color;
    animation-name: color-ori;
    animation-duration: 11s;
    animation-iteration-count: infinite;        
}

.btn-plot-text {
    will-change: color;
    animation-name: color-ori;
    animation-duration: 11s;
    animation-iteration-count: infinite;        
}

@keyframes color-ori {
    0%   {
        color: #ff0000;
    }
    10%   {
        color: #ff8000;
    }
    20%   {
        color: #ffff00;
    }
    30%   {
        color: #80ff00;
    }
    40%   {
        color: #008080;
    }
    50%   {
        color: #004080;
    }
    60%   {
        color: #0080c0;
    }
    70%   {
        color: #8080c0;
    }
    80%   {
        color: #ff80ff;
    }
    90%   {
        color: #ff00ff;
    }
    100%   {
        color: #ff0080;
    }    
}

.navbar-brand {
    will-change: color;
    animation-name: color-inverted;
    animation-duration: 11s;
    animation-iteration-count: infinite;        
}

.btn-plot {
    will-change: color;
    animation-name: color-inverted;
    animation-duration: 11s;
    animation-iteration-count: infinite;        
}

@keyframes color-inverted {
    0%   {
        background-color: #00ffff;
    }
    10%   {
        background-color: #0080ff;
    }
    20%   {
        background-color: #0000ff;
    }
    30%   {
        background-color: #8000ff;
    }
    40%   {
        background-color: #800000;
    }
    50%   {
        background-color: #804000;
    }
    60%   {
        background-color: #c24100;
    }
    70%   {
        background-color: #c1c181;
    }
    80%   {
        background-color: #80ff80;
    }
    90%   {
        background-color: #00ff00;
    }
    100%   {
        background-color: #00ff80;
    }    
}

/* Color of invalid input text (including placeholder) is set to salmon by default */
.file-sel {
    color: salmon;
}
.file-repeat {
    color: salmon;
}
.required-form-control::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: salmon;
    opacity: 1; /* Firefox */
  }
  
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: salmon;
  }
  
  ::-ms-input-placeholder { /* Microsoft Edge */
    color: salmon;
  }

.input-required {
    color: #5CB85C;
}

.input-optional {
    color: #FFF380;
}

/* https://alligator.io/css/styling-form-input-validity/ */
.form-group input:optional {
    border-left-color: #FFF380;
    border-left-width: 4px;
}

.form-group input:optional:focus {
    border-color: #FFF380;
}

.form-group input:required {
    border-left-color: #5CB85C;
    border-left-width: 4px;
}

.form-group input:invalid {
    border-left-color: salmon;
    border-left-width: 4px;
}


.form-group select:required {
    border-left-color: #5CB85C;
    border-left-width: 4px;
}

.form-group select:invalid {
    border-left-color: salmon;
    border-left-width: 4px;
}

.hidden {
    visibility: hidden;
}

.shown {
    visibility: visible;
}

.individual-bar-color {
    color: #CCCCCC;
}

.fa-angle-double-down {
    color: silver;
}

/* Optional input is set as not displayed by default */
.optional-form-group {
    display: none;
}

.footer {
    position: fixed;
    bottom: 0;
    background-color: #303030;
    color: white;
    letter-spacing: 2px;
}

.contact {
    border-radius: 3px;
}